In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
true_df = pd.read_csv('/content/drive/MyDrive/DA/data/True.csv')
fake_df = pd.read_csv('/content/drive/MyDrive/DA/data/Fake.csv')

In [ ]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:
true_df['label'] = 1
fake_df['label'] = 0

In [ ]:
df = pd.concat([true_df, fake_df])
df = df.sample(frac = 1)

In [ ]:
df.head()

,title,text,subject,date,label
19373,China's ruling Communist Party expels former G...,BEIJING (Reuters) - China s ruling Communist P...,worldnews,"September 22, 2017",1
5639,Trump: U.S. will win appeal of judge's travel ...,"WASHINGTON/PALM BEACH, Fla (Reuters) - U.S. Pr...",politicsNews,"February 3, 2017",1
16286,A DEFENSIVE JOHN KERRY Asks That Israel Move I...,John Kerry gave a long-winded speech today cla...,Government News,"Dec 28, 2016",0
16716,EU calls report on May-Juncker talks a smear,BRUSSELS (Reuters) - The European Commission s...,worldnews,"October 23, 2017",1
12042,"HIV POSITIVE, CRACK SMOKING, Liberal Actor Cha...","Less than one year ago, Charlie Sheen s ex-wif...",politics,"Dec 29, 2016",0

In [ ]:
df.to_csv('/content/drive/MyDrive/DA/data/combined_dataset.csv', index =  False)