In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import re
import pandas as pd
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import matplotlib.patches as mpatches
from scipy import signal

In [ ]:
misinformation_df = pd.read_csv('misinformation_timeseries_daily.csv')
misinformation_df.head()

   index        Time  Frequency
0    409  2015-03-31          8
1   1004  2015-04-01          2
2    943  2015-04-02          1
3    640  2015-04-04          5
4    874  2015-04-05         13

In [ ]:
column = 'Frequency'
misinformation_df[column] = (misinformation_df[column] - misinformation_df[column].min()) / (misinformation_df[column].max() - misinformation_df[column].min())  
misinformation_df.head()

   index        Time  Frequency
0    409  2015-03-31   0.134615
1   1004  2015-04-01   0.019231
2    943  2015-04-02   0.000000
3    640  2015-04-04   0.076923
4    874  2015-04-05   0.230769

In [ ]:
# sentiment_df = pd.read_csv('/content/drive/MyDrive/DA/data/Time Series/negative_sentiment_time_series_daily.csv')
sentiment_df = pd.read_csv('negative_sentiment_time_series_daily.csv')
sentiment_df.head()

   index        Time  Frequency Year-month
0    372  2015-03-31    -0.3736    2015-03
1    967  2015-04-01    -0.8912    2015-04
2    856  2015-04-02    -0.9348    2015-04
3    551  2015-04-04    -0.9925    2015-04
4    778  2015-04-05    -0.9960    2015-04

In [ ]:
column = 'Frequency'
sentiment_df[column] = (sentiment_df[column] - sentiment_df[column].min()) / (sentiment_df[column].max() - sentiment_df[column].min())  
misinformation_df.head()

   index        Time  Frequency
0    409  2015-03-31   0.134615
1   1004  2015-04-01   0.019231
2    943  2015-04-02   0.000000
3    640  2015-04-04   0.076923
4    874  2015-04-05   0.230769

In [ ]:
misinformation = misinformation_df['Frequency'].tolist()
sentiment = sentiment_df['Frequency'].tolist()

In [ ]:
a = misinformation - np.mean(misinformation)
b = sentiment - np.mean(sentiment)
correlation = signal.correlate(a, b, mode = 'full')
lags = signal.correlation_lags(len(misinformation), len(sentiment), mode = 'full')
lag = lags[np.argmax(abs(correlation))]
print(lag)

-6